include ../../components/form-container/form-container.pug

+fieldset-with-legend('New Chat', 'new_chat')
    form(id='newChat')
        #{newChatInput}
        #{createChat}
        #{backToMessenger}
