.button {
  box-shadow: 10px 10px black;
  padding: 10px;
  font-family: inherit;
}

.green {
  background-color: #00a800;
}

.purple {
  background-color: #a800a8;
}

.full-width {
  width: 100%;
}

.inactive {
  pointer-events: none;
}

.button-small {
  font-size: 10px;
  width: 150px;
}

.button-with-svg {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: auto;
}

.chat-controls {
  margin-left: auto;
  position: relative;
}

.add-user {
  background-image: url("../../../static/img/plus-user.svg");
}

.delete-user {
  background-image: url("../../../static/img/minus-user.svg");
}
