.button {
  box-shadow: 10px 10px black;
  padding: 10px;
  font-family: inherit;
}
.green {
  background-color: #00a800;
}
.purple {
  background-color: #a800a8;
}
.fullWidth {
  width: 100%;
}
.inactive {
  pointer-events: none;
}
