include ../../components/form-container/form-container.pug

+fieldset-with-legend('Login', 'login', )
    form(id='formLogin')
        #{inputLogin}
        #{inputPassword}
        #{buttonLogin}
        #{buttonRegister}

