div.chatmessages-container
    div.chatmessages-messages
        each item in messages ? messages : []
            #{item}
    div.chatcontrols-container
        each button in chatControls ? chatControls : []
            #{button}
            each addUserItem in addUser ? addUser : []
                #{addUserItem}
