include ../../components/chat-container/index.pug

+chat-container('chat__container hidden', 'chat_container')
    include ../../components/chat-list/index.pug
    +chat-container('chat__container_inner')
        include ../../components/chat-messages/index.pug
        include ../../components/chat-input/index.pug
