include ../../components/chat-container/index.pug

+chat-container('chat__container hidden', 'chat_container')
    #{chat_list}
        +chat-container('chat__container_inner')
            #{chat_messages}
            #{chat_input}

