.chatUsers {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 10px;
  background-color: #00A8A8;
  padding: 10px;
  padding-right: 0;
  box-shadow: 10px 10px #000;
  color: black
}
