.chatlist-container {
  display: flex;
  flex-direction: column;
  background-color: var(--chatlist-bg-color);
  box-shadow: 10px 10px black;
  min-width: 330px;
  span, h4 {
    margin: 10px;
  }
}

.chatlist-channels {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chatlist-buttons {
  margin-top: auto;
}
