include ../chat-list-user/index.pug

div.chatlist-container
    #{chat_search}
    div.chatlist-users
         +user('Саша')
         +user('Петя')
         +user('Вася')
    div.chatlist-buttons
        #{button1} 
        #{button2}
    