include ../chat-list-user/index.pug

div.chatlist_container
    #{chat_search}
    div.chatlist__users
         +user('Саша')
         +user('Петя')
         +user('Вася')
    div.chatlist__buttons
        #{button1} 
        #{button2}
    