div.chatlist-container
    h4 Chat rooms
    div.chatlist-channels
        each item in list ? list : []
            #{item}
    div.chatlist-buttons
        #{button3}
        #{button2}
        #{button1} 
    

    