.chat-container {
  width: 1440px;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 15px;

  &_inner {
    display: grid;
    grid-template-rows: 3fr 1fr;
    gap: 25px;
  }
}
