include ../../components/text-input/index.pug
include ../../components/button/index.pug
    
form(action="")
    +text-input('text', 'Type message here', 'message')
    +button('Send', 'green inactive')
    