section.app-container
    //- include ../error/404.pug
    include ../../components/form-login/index.pug
    include ../../components/form-register/index.pug
    include ../../components/form-account-edit/index.pug 
    include ../../components/form-change-password/index.pug
    include ../chat/index.pug